
/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
font-family:'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{font-family: 'Roboto', sans-serif;} 
*{margin:0;
 padding:0;
 box-sizing:border-box;
 }
.favconimg{color:white;
/*margin-top:25px;*/
width:50px;
}
/*h2{align-text:center;}*/
.nav-bar{display:flex;
justify-content:space-between;
width:100%;
background-color:#b80000;
        align-items:center;
        padding:8px;} 
.emirate{color:white;} 
h1{padding:10px;}
.hero{
padding-bottom:20px;}
.hero p{padding:20px;}
.hero img{width:100%;}
.question-btn{
  display:flex;
  gap:2px;
  flex-direction:column;
align-items:center;
} 
a{
background-color:#b80000;
  text-decoration:none;
align-content:center;
text-align:center;
border-radius:5px;
padding:10px;
border:none;
 /* align-text:center;*/
  margin-left:12px;
margin-top:4px;
margin-bottom:20px;
width:320px;
font-size:15px;
color:white;
}
.question{border-top:1px solid #adadad;
border-bottom:1px solid #adadad;
          padding:15px;


}
question p{padding-bottom:10px;}
.customer{border-bottom:1px solid #adadad;
margin-bottom:20px;
          padding:20px ;
}
.star{color:#ff931f;}
.star span{color:black;
          }
.ratings img{
  border-radius:100px;
}
.ratings{padding:20px;
}
.ratings h6{
  font-weight:5px;
}
.ratings span{
  font-size:10px 
  
} 
.ratings-star{padding:10px;}
.girl{width:50px;
     }
footer{
  background-color:#b80000;
  text-align:center;
  padding:10px ;
/*border-radius:5px;*/
color:white;}

