* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 90%;
  width: 90%;
}
.favconimg{color:white;
margin-top:25px;
width:50px;
}
/*h2{align-text:center;}*/
.nav-bar{display:flex;
align-items:center;
justify-content:space-between;
width:100%;
background-color:#b80000;} 
.emirate{color:white;} 
         
.hero img{width:100%;}
.question button{
background-color:#b80000;
border-radius:5px;
padding:12px;
border:none;
margin-top:4px;
margin-bottom:20px;
width:80px;

font-size:15px;
color:white;
}
.button{display :flex
gap:2px;
}
span{font-weight:50px;}
.question{border-top:1px solid #adadad;
border-bottom:1px solid #adadad;
}
.customer{border-bottom:1px solid #adadad;
margin-bottom:20px;
}
.star{color:#ff931f;}
.ratings img{
  border-radius:100px;
}
.ratings h6{
  font-weight:5px;
font-size:15px;} 
}
.girl{width:20px;
}
footer{
  background-color:#b80000;
  text-align:center;
  padding:10px ;
border-radius:5px;
color:white;} 
  

